@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

html, body, [class*="css"]  {
font-family: 'Noto Sans', sans-serif;
}
    
    /*fondo*/
    [data-testid="stAppViewContainer"]{
      background-image: url(https://images.pexels.com/photos/13553607/pexels-photo-13553607.png?auto=compress&cs=tinysrgb&w=1600&lazy=load);
      background-size: cover;
    }
    
    /*Color y forma tarjetas */
    div.css-1r6slb0.e1tzin5v2 {
      background-color: #FFFFFF;
      text-align: center;
      align-items: center;
      align-content: center;
      border: solid #DCDCDC;
      padding: 2% 2% 2% 2%;
      border-radius: 10px;
    }  

    /*Color y forma Columnas */
    div.css-keje6w.e1tzin5v2 {
      background-color: #FFFFFF;
      text-align: center;
      align-items: center;
      align-content: center;
      border: solid #DCDCDC;
      padding: 2% 2% 2% 2%;
      border-radius: 10px;
    }  
    
    
    div.stTabs.css-0.exp6ofz0 {
      background-color: #FFFFFF;
      text-align: center;
      align-items: center;
      align-content: center;
      
    }  

    /*Color st.header*/
    h2 {
        font-size: xx-large;
        color: rgb(24, 54, 104);
        
    }
    h3 {
      font-size: xx-large;
      color: rgb(24, 54, 104);
      
    }
    div[data-testid="stVerticalBlock"]{
      text-align: center;

    }
    
    
    .stProgress > div > div > div > div {
      background-color: #FFFFFF;
      background-image: linear-gradient(to right, #FF5733 , #11d171);
      
  }


